version: "3.9"

services:
  db:
    image: mysql:8.0
    container_name: digital_wallet_db
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_ROOT_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - db_data:/var/lib/mysql

  app:
    build: .
    container_name: digital_wallet_app
    restart: unless-stopped
    depends_on:
      - db
    env_file:
      - .env
    ports:
      - "5000:5000"
    command: >
      sh -c "npx knex migrate:latest --knexfile ./knexfile.ts && node dist/server.js"
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  db_data:
